# See: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-files
# https://kent-boogaart.com/blog/editorconfig-reference-for-c-developers

# C# files
[*.cs]

#### Core EditorConfig Options ####

#### .NET Coding Conventions ####
dotnet_style_predefined_type_for_member_access = false
dotnet_style_predefined_type_for_locals_parameters_members = false
dotnet_style_qualification_for_field = true

# .NET formatting rules
dotnet_sort_system_directives_first = true

#### Diagnostic configuration ####
